body {
  text-align: center;
  font-family: Helvetica;
}

.image{
  background-image: url("https://s3.amazonaws.com/codecademy-content/programs/freelance-one/broadway/images/the-flatiron-building.png");
  background-size: cover;
  background-position: center;

}

h1{
  font-size: 70px;
}

nav {
  font-size: 18px;
}

p {
  font-size: 14px;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 23px;
}

.white {
  color: white;
}

.bold, h2, h3 {
  font-weight: bold;
}

#copyright {
  font-size: 11px;
}

#contactNav {
  text-align: left;
  background-color: dimgray;
}
